.modal-container {
  .modal-hero-image-error {
    padding: 16px 32px;
  }

  .modal-hero-image {
    height: 240px;
    text-align: center;
    margin: 20px auto;
  }

  .modal-hero-info {
    margin: 0 auto;
    width: 300px;
    max-width: 80%;
    height: 100%;

    .modal-hero-stat-name {
      text-transform: capitalize;
    }
  }
}