@import '../../styles/_theme.scss';

.token-button {
  height: 32px;
  padding: 0px 16px;
  font-size: $font-label;
  font-weight: 400;
  font-family: Ubuntu;
  color: $text-color;
  background-color: #fff;
  border: 1px solid $green-color;
  border-radius: $extreme-round;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: $text-color;
    color: #fff;
  }

  &.modal-close-button {
    margin: 8px 0px 0px 8px;
  }
}