@import '../../styles/_theme.scss';

.token-button {
  height: 32px;
  padding: 0px 16px;
  font-size: $font-label;
  font-weight: 400;
  font-family: Ubuntu;
  color: $text-color;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: $extreme-round;
  outline: none;
  cursor: pointer;
  margin: 10px 0 3px 10px;

  &:hover {
    background-color: $text-color;
    color: #fff;
  }
}